[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cassiopeia = "*"
pytest = "*"

[packages]
numpy = ">=1.16.2"
pandas = "*"
Shapely = "*"
joblib = "*"
scikit-learn = "==0.24.1"

[requires]
python_version = "3.9"
